
<div class="cart-container">
  <h2>Seu Carrinho</h2>
  <div *ngFor="let item of items" class="cart-item">
    <div class="cart-item-details">
      {{ item.name }} - {{ item.price | currency }} x {{ item.limit }}
    </div>
    <button mat-icon-button color="warn" (click)="removeFromCart(item)">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
  <div class="cart-total">
    <h4>Total: {{ total | currency }}</h4>
  </div>
  <button mat-raised-button class="btn-cart" (click)="clearCart()">Limpar</button>
</div>
